.vercel
node_modules
client/node_modules
client/dist
server/node_modules
server/data/*.db
server/data/*.db-shm
server/data/*.db-wal
nas-data/
nas-data/**
server/data/vapid.json
server/ocs.db
server/ocs.db-shm
server/ocs.db-wal
server/src/data/vapid.json
data/vapid.json
dist
test-results/
playwright-report/
blob-report/
